// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.handwritten {
  font-family: 'Pacifico', cursive;
}

.kelma-block {
  position: relative;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #EEFC9F;
  width: 410px;
  margin: 0 auto;
  height: 300px;
  box-shadow: 10px 10px rgba(218, 216, 216, 0.6);
  -webkit-transform: rotate(-4deg);
}


.kelma-block:after {
  content : "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-width: 20px 0 0 20px;
  border-style: solid;
  border-color: rgba(212, 215, 90, 1) #FFF;
}

.kelma {
  font-size: 40px;
}

.ezempju {
  font-size: 17px;
}

.header,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    border-bottom: 1px solid #e5e5e5;
}

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.issuggerixxi-holder {
  background-color: #f5f5f5;
  width: 600px;
  margin: 0 auto;
  padding: 0;
  border: 1px solid #dedede;
}

.issuggerixxi-paper {
	padding: 10px; 
	width: 500px;
   font-family: courier, monospace;
   margin: 0 auto;
}

.issuggerixxi-paper .bicca {
  border-bottom: 1px dotted #ccc;
  text-align: center;
  height: auto;
  padding: 10px;
  text-transform: capitalize;
}

.issuggerixxi-paper div.kelma input {
	font-size : 34px;
	width: 400px;
}

.issuggerixxi-paper div.ezempju textarea {
	font-size : 14px;
	width: 400px;
}

.buttuna {
	text-align: center;
}

.buttuna div a{
	color: white;
	text-decoration: none;
	background-color: #428BCA;
	padding: 5px;
	font-size: 17px;
	cursor: pointer;
}

.buttuna div a:hover {
		text-decoration: underline;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    .footer {
        margin-top: 30px;
    }
}