<div ng-include="'partials/navbar.html'"></div>
<div class="issuggerixxi-holder">
	<!-- <form class="form" name="form" ng-submit="isugerixxi(form)" >
	    <label for="kelma">Kelma</label>
	    <input type="text" id="kelma" name="kelma" ng-model="suggeriment.kelma">
	    <label for="ezempju">Ezempju</label>
	    <input type="text" id="ezempju" name="ezempju" ng-model="suggeriment.ezempju">
	    <button type="Submit" class="button">Issugerixxi</button>
	</form> -->
	<div class="issuggerixxi-paper">
		<form class="form" name="form" ng-submit="isugerixxi(form)" >
			<ul>
				<li><h2>Suġġeriment</h2></li>
				<li class="kelma"><input type="text" id="kelma" name="kelma" ng-model="suggeriment.kelma" placeholder="Kelma"/></li>
				<li class="ezempju"><textarea id="ezempju" name="ezempju" ng-model="suggeriment.ezempju" placeholder="Bħal meta ngħidu ... "></textarea></li>
			</ul>
			<div class="buttuna">
				<div><a ng-click="isugerixxi(form)">Agħddiha Kumitat</a></div>
			</div>
		</form>
	</div>
</div>